@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página de política de privacidade descreve como seus dados são coletados, usados e compartilhados quando você utiliza nosso sistema.</p>
<p>Respeitamos a sua privacidade e estamos comprometidos com a proteção de seus dados pessoais.</p>